.resume {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5in;
  gap: 16px;
  background-color: var(--color-light-gray);

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 2.25in;
  }

  footer {
    position: absolute;
    bottom: 0.5in;
    right: 0.5in;
    font-size: 12px;
  }

  .content {
    display: flex;
    gap: 32px;
    flex: 1;
  }
}
